# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
pandas
seaborn
ipython 
filterpy
ultralytics
supervision
opencv-python
huggingface-hub