# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy
opencv-python
requests
scipy
torch
tqdm
pandas
ipython 
filterpy
ultralytics
supervision
opencv-python
huggingface-hub